@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var userList = (List<StoryWeb.Models.ModelView.User>)ViewBag.user ?? new List<StoryWeb.Models.ModelView.User>();
}

<div class="fashion_section">
    <div class="container">
        <h2 class="text-center mb-4">Quản lý người dùng</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Mã số</th>
                    <th>Tên đăng nhập</th>
                    <th>Tên</th>
                    <th>Vai trò</th>
                    <th>Email</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in userList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Username</td>
                        <td>@item.FullName</td>
                        @if (item.Role == 0)
                        {
                            <td>Thành viên</td>
                        }
                        else
                        {
                            <td>Quản trị viên</td>
                        }
                        <td>@item.Email</td>
                        <td>
                            <span class="badge @(item.Active == 1 ? "bg-success" : "bg-secondary")">
                                @(item.Active == 1 ? "Hoạt động" : "Đã bị khóa")
                            </span>
                        </td>

                        <td>
                            <a href="@Url.Action("ChangeUserRole", "Admin", new { id=item.Id })" class="btn btn-primary btn-sm">Sửa</a>
                            <form action="@Url.Action("BanOrUnbanUser", "Admin")" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn thực hiện hành động này không?');" style="display:inline;">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <input type="hidden" name="Active" value="@item.Active" />
                                <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                            </form>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>