<!DOCTYPE html>

<html>
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đọc truyện tranh online mới nhất tại [Goc Truyen Tranh]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=1000">
    <link rel="icon" href="@Url.Content("~/Content")/WebTruyen/images/favicon.ico" />
    <link rel="shortcut icon" href="contents/@Url.Content("~/Content")/WebTruyen/images/favicon.ico" />
    <meta property="fb:app_id" content="274521690288275">
    <meta property="fb:pages" content="100555895422032">
    <meta name="copyright" content="Copyright © 2020 Truyện Tranh Goc Truyen Tranh">
    <meta name="author" content="Truyện Tranh GocTruyenTranh">
    <meta name="description" content="✅ Đọc Truyện Hay Miễn Phí, Dịch full Tiếng Việt, Ảnh Chất Lượng, Cập Nhật Nhanh Nhất Và Sớm Nhất Tại Goc Truyen Tranh" />
    <meta property="og:title" content="Đọc truyện tranh online mới nhất tại [Goc Truyen Tranh]">
    <meta property="og:site_name" content="GocTruyenTranh ">
    <meta property="og:url" content="index.html">
    <meta property="og:type" content="website">
    <meta property="og:image" content="@Url.Content("~/Content")/image/banner/1Mz0O54RzA0rd9rk6yzoLMZCG7j6Sfh1q?code=gtt-yes">
    <meta property="og:description" content="✅ Đọc Truyện Hay Miễn Phí, Dịch full Tiếng Việt, Ảnh Chất Lượng, Cập Nhật Nhanh Nhất Và Sớm Nhất Tại Goc Truyen Tranh">
    <meta itemprop="name" content="Truyện tranh hay, truyện mơi cập nhật liên tục">
    <meta itemprop="description" content="✅ Đọc Truyện Hay Miễn Phí, Dịch full Tiếng Việt, Ảnh Chất Lượng, Cập Nhật Nhanh Nhất Và Sớm Nhất Tại Goc Truyen Tranh">
    <meta itemprop="image" content="@Url.Content("~/Content")/image/banner/1Mz0O54RzA0rd9rk6yzoLMZCG7j6Sfh1q?code=gtt-yes">
    <meta rel="canonical" href="index.html">
    <meta name="keywords" content="Truyện Hay, Truyen Hay, Truyen, Truyen Tranh, GocTruyenTranh, goc truyen tranh">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1FSZ4YFJH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-V1FSZ4YFJH');
    </script>

    <script type="text/javascript">
        const jsContext = "";
        const isWindowUser = "false";
        const isIOSUser = "false";
        const commonMessages = {
            messageAll: `notice14|| Ai bị nhà mạng chặn, thì vào GOCTRUYENTRANHVUI17.com nha`,
            requiredLogin: `Bạn cần đăng nhập để dùng chức năng này.`,
            comicDetailAppend: '/truyen/',
            comicViewAppend: `/chuong-`,
            prefixChapter: `Chương`,
            expireToken: 'Phiên làm việc của bạn đã hết hạn.',
            rankerUser: `Cấp Độ: `,
            confirmUpgrade: `Bạn muốn gửi yêu cầu thăng cấp tài khoản?`,
            userSendRequest: `Bạn đã thực hiện yêu cầu thăng cấp, vui lòng chờ kết quả từ phía quản trị`,
            confirmSignOut: `Bạn có muốn đăng xuất ?`,
            deviceSuccess: `Đồng bộ dữ liệu xuống thiết bị thành công`,
            pushAllow: `Cám ơn bạn đã bật thông báo, thông báo chỉ gửi cho những truyện bạn theo dõi.`,
            pushNoAllow: `Bạn đã tắt thông báo truyện này`,
            pushDenied: `Trình duyệt của bạn đã chặn nhận thông báo, bạn vui lòng mở cho phép ở thanh địa chỉ.`,
            pushAccept: `Bạn đã bật thông báo cho truyện này.`,
            pushUnSupport: `Trình duyệt của bạn không có hổ trợ nhận thông báo.`,
            pushSuccess: `Bạn đã đồng bộ thông báo thành công`,
            syncSuccess: `Đồng bộ dữ liệu lên tài khoản thành công`,
            unlockNotificationSuccess: `Bạn đã thực hiện thành công`,
            mentionReminder: `<span>{0}</span> đã nhắc tới ban <span>{1}</span>`,
            confirmChangeInfo: `Bạn muốn thực hiện đổi thông tin?`,
            replyTxt: `Trả lời`,
            confirmSync: `Bạn có muốn thực hiện đồng bộ dữ liệu lên tài khoản?`,
            unknownError: `lỗi không xác định được.`,
            accountProblem: `Tài khoản của bạn có vấn đề, vui lòng đăng nhập lại`,
            noNotification: `Bạn không có tin nhắn.`,
            pushNewChapter: `Chương mới:`,
            pushComicItem: `Lúc:`,
            pushAuthor: `Từ:`,
            stopService: `Chức năng này tạm thời đang ngừng hợp động.`,
            changeDesignMsg: `Việc chuyển đổi giao diện sẽ có những khác biệt về mặt chức năng trên giao diện hiện tại, bạn có muốn thực hiện chuyển đổi giao diện không?`,
            hasNovel: `Có Truyện Chữ`,
            otherName: `Tên khác`,
            activeAuto: `Bạn có muốn [MỞ] chức năng đồng bộ không?
[LƯU Ý] Thông tin trên thiết bị sẽ được tự động đồng bộ cho tất cả thiết bị đang [MỞ] chức năng này.`,
            inactiveAuto: `Bạn có muốn [TẮT] chức năng đồng bộ không?
[LƯU Ý] Thông tin trên thiết bị sẽ được tự động đồng bộ cho tất cả thiết bị đang [MỞ] chức năng này.`,
            activeAutoMessage: `[Bật] Chức Năng Tự Động Đồng Bộ`,
            inactiveAutoMessage: `[Tắt] Chức Năng Tự Động Đồng Bộ`
        }

        if ('serviceWorker' in navigator) {
            if ('true' === 'true') {
                window.addEventListener('load', function () {
                    try {
                        navigator.serviceWorker.register('assets-sw.js')
                            .then(function (registration) { })
                            .catch(function (error) { });
                    } catch (e) { }
                });
            } else {
                navigator.serviceWorker.getRegistrations().then(function (registrations) {
                    registrations.forEach(function (registration) {
                        if (registration.active && registration.active.scriptURL.endsWith('assets-sw.js')) {
                            registration.unregister().then(function (success) {
                                console.log('Service worker unregistration successful:', success);
                            }).catch(function (error) {
                                console.error('Service worker unregistration failed:', error);
                            });
                        }
                    });
                });
            }
        }

    </script>

    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/common259b.css" />
    <script src="@Url.Content("~/Content")/WebTruyen/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content")/WebTruyen/v2/js/common259b.js"></script>

    <script src="@Url.Content("~/Content")/WebTruyen/js/push-init.js"></script>
    <script src="@Url.Content("~/Content")/WebTruyen/v2/js/push-message.js"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/homef413.css" />
    <script src="@Url.Content("~/Content")/WebTruyen/js/lazy.js"></script>
    <script src="@Url.Content("~/Content")/WebTruyen/v2/js/home920b.js"></script>
</head>
<input id="home-filter-config" data-limit="30" type="hidden" data-all="0" data-follow="0" data-history="0" value="all" />
<input id="home-recommend-config" type="hidden" data-recommend="0" data-favorite="0" value="recommend" />
<input id="home-new-config" type="hidden" data-new="0" value="new" />
<script type="text/javascript">
const comic = {
        msgError: ''
    }
const messages = {
    routerDetail: '/truyen/{0}',
    routerView: '/truyen/{0}/chuong-',
    routerSearchCategory: '/danh-sach?category={0}',
    fieldChapter: 'Chương',
    readBtn: 'Đọc Truyện',
    noResult: 'Không Tìm Thấy Kết Quả...'
}
    < body >
    <script>
<script src="../madurird.com/tag.min.js" data-zone="9300728" data-cfasync="false" async onerror="_gfvwwqge()" onload="_ynjlsi()"></script>

<header>
    <div class="px-2 tool-bar container">
        <a href="trang-chu.html" class="logo"><img height="45" width="120" title="Goc Truyện Tranh" alt="Logo" src="@Url.Content("~/Content")/WebTruyen/images/logo.png" /></a>
        <a href="trang-chu.html" class="btn-default btn-size-default btn-font-default active">
            <span>Trang Chủ</span>
        </a>
        <a href="danh-sach.html" class="btn-default btn-size-default btn-font-default ">
            <span>Danh Sách</span>
        </a>
        <a href="lien-he.html" class="btn-default btn-size-default btn-font-default  ">
            <span>Liên Hệ</span>
        </a>
        <div class="spacer"></div>
        <button class="btn-menu-search cursor-pointer mr-3 btn-default-icon ">
            <span class="btn-default-icon-content">
                <span class="v-icon">
                    <svg viewBox="0 0 24 24" class="v-icon-svg v-icon-svg-big">
                        <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                    </svg>
                </span>
            </span>
        </button>
        <button class="btn-menu-login btn-default-icon v-icon-bg mr-3">
            <span class="btn-default-icon-content">
                <span class="v-icon">
                    <svg viewBox="0 0 24 24" class="v-icon-svg v-icon-svg-big">
                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
                    </svg>
                </span>
            </span>
        </button>
        <div class="btn-menu-user btn-default-icon v-icon-bg mr-3">
            <img title="Click to open menu" alt="Click to open menu">
        </div>
    </div>
</header>




<!-- MODEL LOGIN -->
<div id="dialog-login" class="dialog-popup dialog-backdrop">
    <div class="dialog-parent box-shadow-blur max-w300 zs-bg-4 v-sheet theme-dark">
        <div class="dialog-header">
            <div class="header-content">
                <div class="title text-upper pa-2 text-h5">Đăng nhập </div>
                <div class="spacer"></div>
                <button class="btn-close-dialog-login btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                    <span class="btn-default-icon-content">
                        <span class="v-icon">
                            <svg viewBox="0 0 24 24" class="v-icon-svg">
                                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <div class="dialog-body pa-0 text-align-center">

            <div class="sign-in-ga mt-3">
                <button class="zs-bg-3">
                    <img src="contents/images/google_icon.png" alt="login-google" class="google-icon">
                    Đăng nhập với Google
                </button>
            </div>
            <div class="mt-3 pb-2"><a target="_blank" rel="noopener noreferrer" href="chinh-sach.html" style="color: #cc444b;">Privacy Policy</a></div>
        </div>
    </div>
</div>




<!-- MODEL Search -->
<div id="dialog-search" class="dialog-popup dialog-on-top dialog-backdrop">
    <div class="dialog-parent box-shadow-blur max-w300 zs-bg-4 v-sheet theme-dark">
        <div class="dialog-header">
            <div class="header-content">
                <input class="input input-search-dialog-header" type="text" maxlength="30" placeholder="Nhập từ khóa" />
                <div class="spacer"></div>
                <button class="btn-close-dialog-search btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                    <span class="btn-default-icon-content">
                        <span class="v-icon">
                            <svg viewBox="0 0 24 24" class="v-icon-svg">
                                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <div class="dialog-body pa-0">
            <div class="body-content d-flex border-box pt-1 pb-2 pr-2 pl-2 justify-center-start">
                <div class="lds-loading">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="dialog-no-data active pa-2 pb-0">Không Tìm Thấy Kết Quả... </div>
                <div class="search-result"></div>
            </div>
        </div>
    </div>
</div>




<!-- MODEL User Information -->
<div id="dialog-user" class="dialog-popup  dialog-on-top dialog-backdrop">
    <div class="parent-user dialog-parent box-shadow-blur max-w300 zs-bg-4 v-sheet theme-dark">
        <div class="dialog-header">
            <div class="header-content">
                <div class="title pa-2 text-h5">Tính Năng Tài Khoản</div>
                <div class="spacer"></div>
                <button class="btn-close-dialog-user btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                    <span class="btn-default-icon-content">
                        <span class="v-icon">
                            <svg viewBox="0 0 24 24" class="v-icon-svg">
                                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <div class="dialog-body pa-0">
            <div class="body-content d-flex border-box pt-3 pb-2 pr-2 pl-2 justify-center-start">
                <div class="item-user mb-2 menu-user-name" data-action="login">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                    </svg>
                    <span>Đăng nhập</span>
                </div>
                <div class="item-user mb-2 menu-user-rank">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M17 10.43V2H7v8.43c0 .35.18.68.49.86l4.18 2.51-.99 2.34-3.41.29 2.59 2.24L9.07 22 12 20.23 14.93 22l-.78-3.33 2.59-2.24-3.41-.29-.99-2.34 4.18-2.51c.3-.18.48-.5.48-.86zm-4 1.8-1 .6-1-.6V3h2v9.23z"></path>
                    </svg>
                    <span>Cấp Độ: </span>
                </div>
                <div class="item-user mb-2 menu-user-action" data-action="reminder">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"></path>
                    </svg>
                    <span class="msg-reminder">Thông Báo</span>
                </div>
                <div class="item-user mb-2 menu-user-action menu-user-block-reminder" data-action="block-reminder">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M20 4H4C2.9 4 2 4.9 2 6v8c0 1.1.9 2 2 2h8v4l4-4h4c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 14V6h16v8h-5.17L12 18v-4H4zm10-5h2v2h-2V9zm-4 0h2v2h-2V9z"></path>
                    </svg>
                    <span>Mở Chặn Thông Báo</span>
                </div>
                <hr class="divider mt-2 mb-2 theme-dark menu-group-user-divider" style="border-width: thin 3px 3px !important;">
                <div class="item-user menu-group-user">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="ManageAccountsIcon"><circle cx="10" cy="8" r="4"></circle><path d="M10.67 13.02c-.22-.01-.44-.02-.67-.02-2.42 0-4.68.67-6.61 1.82-.88.52-1.39 1.5-1.39 2.53V20h9.26c-.79-1.13-1.26-2.51-1.26-4 0-1.07.25-2.07.67-2.98zM20.75 16c0-.22-.03-.42-.06-.63l1.14-1.01-1-1.73-1.45.49c-.32-.27-.68-.48-1.08-.63L18 11h-2l-.3 1.49c-.4.15-.76.36-1.08.63l-1.45-.49-1 1.73 1.14 1.01c-.03.21-.06.41-.06.63s.03.42.06.63l-1.14 1.01 1 1.73 1.45-.49c.32.27.68.48 1.08.63L16 21h2l.3-1.49c.4-.15.76-.36 1.08-.63l1.45.49 1-1.73-1.14-1.01c.03-.21.06-.41.06-.63zM17 18c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"></path></svg>
                    <span>Tính Năng Tài Khoản </span>
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M7 10l5 5 5-5z"></path>
                    </svg>
                </div>
                <div class="item-user mb-2 menu-user-action group-user" data-action="rename">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M18.41 5.8 17.2 4.59c-.78-.78-2.05-.78-2.83 0l-2.68 2.68L3 15.96V20h4.04l8.74-8.74 2.63-2.63c.79-.78.79-2.05 0-2.83zM6.21 18H5v-1.21l8.66-8.66 1.21 1.21L6.21 18zM11 20l4-4h6v4H11z"></path>
                    </svg>
                    <span>Đổi Tên Hiển Thị</span>
                </div>
                <div class="item-user mb-2 menu-user-action group-user" data-action="request">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="m13.7826 15.1719 2.1213-2.1213 5.9963 5.9962-2.1213 2.1213zM17.5 10c1.93 0 3.5-1.57 3.5-3.5 0-.58-.16-1.12-.41-1.6l-2.7 2.7-1.49-1.49 2.7-2.7c-.48-.25-1.02-.41-1.6-.41C15.57 3 14 4.57 14 6.5c0 .41.08.8.21 1.16l-1.85 1.85-1.78-1.78.71-.71-1.41-1.41L12 3.49c-1.17-1.17-3.07-1.17-4.24 0L4.22 7.03l1.41 1.41H2.81l-.71.71 3.54 3.54.71-.71V9.15l1.41 1.41.71-.71 1.78 1.78-7.41 7.41 2.12 2.12L16.34 9.79c.36.13.75.21 1.16.21z"></path>
                    </svg>
                    <span>Yêu Cầu Thăng Cấp</span>
                </div>
                <div class="item-user mb-2 menu-user-action group-user" data-action="auto-sync">
                    <svg class="v-icon v-icon-svg-big" viewBox="0 0 32 32">
                        <path d="M16,0C11.582,0,7.582,1.791,4.686,4.686L1.707,1.707c-0.204-0.204-0.454-0.295-0.7-0.295  C0.493,1.412,0,1.811,0,2.414c0,0,0,12.907,0,13.586c0,8.837,7.163,16,16,16c4.418,0,8.418-1.791,11.314-4.686l2.979,2.979  c0.204,0.204,0.454,0.295,0.7,0.295c0.514,0,1.007-0.399,1.007-1.002V18c0,0,0-1.321,0-2C32,7.163,24.837,0,16,0z M27.314,24.485  L25.9,25.9C23.255,28.544,19.74,30,16,30C8.28,30,2,23.72,2,16v-2h2v2c0,6.627,5.373,12,12,12c4.065,0,7.652-2.027,9.822-5.119  L21.941,19H30v8.172L27.314,24.485z M11.657,13.184L7.51,9.037C9.529,6.58,12.579,5,16,5c6.065,0,11,4.935,11,11v2h-6.319  c-0.426,0-0.639,0.515-0.338,0.816l4.147,4.147C22.471,25.42,19.421,27,16,27C9.935,27,5,22.065,5,16v-2h6.319  C11.745,14,11.958,13.485,11.657,13.184z M28,18v-2c0-6.627-5.373-12-12-12c-4.066,0-7.653,2.027-9.823,5.12L10.059,13H2V4.828  l2.686,2.686L6.101,6.1C8.745,3.456,12.26,2,16,2c7.72,0,14,6.28,14,14v2H28z"></path>
                    </svg>
                    <span>Đồng Bộ Dử Liệu Thiết Bị</span>
                </div>
                <div class="item-user menu-user-action group-user" data-action="ads">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M19,3c0,2.2-4.3,6-9,6v6c4.7,0,9,3.6,9,6h2v-7.3c0.6-0.3,1-1,1-1.7s-0.4-1.4-1-1.7V3H19z M5,9c-0.8,0-1.5,0.5-1.8,1.2   C2.5,10.5,2,11.2,2,12s0.5,1.5,1.2,1.8C3.5,14.5,4.2,15,5,15h0.2l2.2,7l3.5-1.1L9,15V9H5z" />
                    </svg>
                    <span>Tắt Quảng Cáo</span>
                </div>
                <hr class="divider mt-2 mb-2 theme-dark" style="border-width: thin 3px 3px !important;">
                <a href="trang-chu.html" class="item-user mb-2 menu-user-home">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                    </svg>
                    <span>Trang Chủ</span>
                </a>
                <a href="truyen/theo-doi.html" class="item-user mb-2  menu-user-follow">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"></path>
                    </svg>
                    <span>Truyện Theo Dõi</span>
                </a>
                <a href="danh-sach.html" class="item-user mb-2  menu-user-search-page">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"></path>
                    </svg>
                    <span>Danh Sách</span>
                </a>
                <a href="lien-he.html" class="item-user mb-2 menu-user-donate">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M11.5 2C6.81 2 3 5.81 3 10.5S6.81 19 11.5 19h.5v3c4.86-2.34 8-7 8-11.5C20 5.81 16.19 2 11.5 2zm1 14.5h-2v-2h2v2zm0-3.5h-2c0-3.25 3-3 3-5 0-1.1-.9-2-2-2s-2 .9-2 2h-2c0-2.21 1.79-4 4-4s4 1.79 4 4c0 2.5-3 2.75-3 5z"></path>
                    </svg>
                    <span>Liên Hệ</span>
                </a>
                <div class="item-user menu-user-action btn-change-design" data-action="change-design">
                    <svg class="v-icon v-icon-svg-big" enable-background="new 0 0 32 32" viewBox="0 0 32 32"><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="2 8 10 3 18 8"></polyline><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="4 7 4 15 16 15 16 7"></polyline><rect width="4" height="6" x="8" y="9" fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="colorStroke000 svgStroke"></rect><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="14 22 22 17 30 22"></polyline><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="16 21 16 29 28 29 28 21"></polyline><rect width="4" height="6" x="20" y="23" fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="colorStroke000 svgStroke"></rect><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="7.68 20.406 4.46 18.946 3 22.166"></polyline><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="25.043 13.805 27.964 15.798 29.957 12.878"></polyline><path fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M12 27c-3.787-.913-6.747-4.05-7.521-8.007M18.999 4c5.08 1.351 8.859 6.053 8.997 11.69" class="colorStroke000 svgStroke"></path></svg>
                    <span>Chuyển Đổi Giao Diện</span>
                </div>
                <hr class="divider mt-2 mb-2 theme-dark" style="border-width: thin 3px 3px !important;">
                <a href="management.html" class="item-user menu-user-management menu-user-management-disabled mb-2 ">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M16.5 12c1.38 0 2.49-1.12 2.49-2.5S17.88 7 16.5 7 14 8.12 14 9.5s1.12 2.5 2.5 2.5zM9 11c1.66 0 2.99-1.34 2.99-3S10.66 5 9 5 6 6.34 6 8s1.34 3 3 3zm7.5 3c-1.83 0-5.5.92-5.5 2.75V18c0 .55.45 1 1 1h9c.55 0 1-.45 1-1v-1.25c0-1.83-3.67-2.75-5.5-2.75zM9 13c-2.33 0-7 1.17-7 3.5V18c0 .55.45 1 1 1h6v-2.25c0-.85.33-2.34 2.37-3.47C10.5 13.1 9.66 13 9 13z"></path>
                    </svg>
                    <span>Quản Lý</span>
                </a>
                <div class="item-user menu-user-action" data-action="sign-out">
                    <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                        <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
                    </svg>
                    <span>Đăng Xuất</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @RenderBody()
</div>
<footer class="footer-section pt-3">
    <div class="content">
        <div class="block">
            <div>Copyright © 2021 - Goc Truyen Tranh</div>
            <div><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/goctruyentranh24h">Facebook</a>||<a target="_blank" rel="noopener noreferrer" href="chinh-sach.html">Privacy Policy</a></div>
        </div>

        <div class="banner-social">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="../connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=274521690288275&autoLogAppEvents=1" nonce="gUpz8VzT"></script>
            <div class="fb-page" data-href="https://www.facebook.com/goctruyentranh24h"
                 data-width=""
                 data-small-header="true"
                 data-adapt-container-width="true"
                 hide_cover="true"
                 hide_cta="true"
                 data-lazy="true"
                 data-hide-cover="false"
                 data-show-facepile="false">
            </div>
        </div>
    </div>
</footer>
</body>
</html>
