<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đọc truyện tranh online mới nhất tại [Goc Truyen Tranh]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=1000">
    <link rel="icon" href="@Url.Content("~/Content")/WebTruyen/images/favicon.ico" />
    <link rel="shortcut icon" href="contents/@Url.Content("~/Content")/WebTruyen/images/favicon.ico" />
    <meta property="fb:app_id" content="274521690288275">
    <meta property="fb:pages" content="100555895422032">
    <meta name="copyright" content="Copyright © 2020 Truyện Tranh Goc Truyen Tranh">
    <meta name="author" content="Truyện Tranh GocTruyenTranh">
    <meta name="description" content="✅ Đọc Truyện Hay Miễn Phí, Dịch full Tiếng Việt, Ảnh Chất Lượng, Cập Nhật Nhanh Nhất Và Sớm Nhất Tại Goc Truyen Tranh" />
    <meta property="og:title" content="Đọc truyện tranh online mới nhất tại [Goc Truyen Tranh]">
    <meta property="og:site_name" content="GocTruyenTranh ">
    <meta property="og:url" content="index.html">
    <meta property="og:type" content="website">
    <meta property="og:image" content="@Url.Content("~/Content")/image/banner/1Mz0O54RzA0rd9rk6yzoLMZCG7j6Sfh1q?code=gtt-yes">
    <meta property="og:description" content="✅ Đọc Truyện Hay Miễn Phí, Dịch full Tiếng Việt, Ảnh Chất Lượng, Cập Nhật Nhanh Nhất Và Sớm Nhất Tại Goc Truyen Tranh">
    <meta itemprop="name" content="Truyện tranh hay, truyện mơi cập nhật liên tục">
    <meta itemprop="description" content="✅ Đọc Truyện Hay Miễn Phí, Dịch full Tiếng Việt, Ảnh Chất Lượng, Cập Nhật Nhanh Nhất Và Sớm Nhất Tại Goc Truyen Tranh">
    <meta itemprop="image" content="@Url.Content("~/Content")/image/banner/1Mz0O54RzA0rd9rk6yzoLMZCG7j6Sfh1q?code=gtt-yes">
    <meta rel="canonical" href="index.html">
    <meta name="keywords" content="Truyện Hay, Truyen Hay, Truyen, Truyen Tranh, GocTruyenTranh, goc truyen tranh">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1FSZ4YFJH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-V1FSZ4YFJH');
    </script>

    <script type="text/javascript">
        const jsContext = "";
        const isWindowUser = "false";
        const isIOSUser = "false";
        const commonMessages = {
            messageAll: `notice14|| Ai bị nhà mạng chặn, thì vào GOCTRUYENTRANHVUI17.com nha`,
            requiredLogin: `Bạn cần đăng nhập để dùng chức năng này.`,
            comicDetailAppend: '/truyen/',
            comicViewAppend: `/chuong-`,
            prefixChapter: `Chương`,
            expireToken: 'Phiên làm việc của bạn đã hết hạn.',
            rankerUser: `Cấp Độ: `,
            confirmUpgrade: `Bạn muốn gửi yêu cầu thăng cấp tài khoản?`,
            userSendRequest: `Bạn đã thực hiện yêu cầu thăng cấp, vui lòng chờ kết quả từ phía quản trị`,
            confirmSignOut: `Bạn có muốn đăng xuất ?`,
            deviceSuccess: `Đồng bộ dữ liệu xuống thiết bị thành công`,
            pushAllow: `Cám ơn bạn đã bật thông báo, thông báo chỉ gửi cho những truyện bạn theo dõi.`,
            pushNoAllow: `Bạn đã tắt thông báo truyện này`,
            pushDenied: `Trình duyệt của bạn đã chặn nhận thông báo, bạn vui lòng mở cho phép ở thanh địa chỉ.`,
            pushAccept: `Bạn đã bật thông báo cho truyện này.`,
            pushUnSupport: `Trình duyệt của bạn không có hổ trợ nhận thông báo.`,
            pushSuccess: `Bạn đã đồng bộ thông báo thành công`,
            syncSuccess: `Đồng bộ dữ liệu lên tài khoản thành công`,
            unlockNotificationSuccess: `Bạn đã thực hiện thành công`,
            mentionReminder: `<span>{0}</span> đã nhắc tới ban <span>{1}</span>`,
            confirmChangeInfo: `Bạn muốn thực hiện đổi thông tin?`,
            replyTxt: `Trả lời`,
            confirmSync: `Bạn có muốn thực hiện đồng bộ dữ liệu lên tài khoản?`,
            unknownError: `lỗi không xác định được.`,
            accountProblem: `Tài khoản của bạn có vấn đề, vui lòng đăng nhập lại`,
            noNotification: `Bạn không có tin nhắn.`,
            pushNewChapter: `Chương mới:`,
            pushComicItem: `Lúc:`,
            pushAuthor: `Từ:`,
            stopService: `Chức năng này tạm thời đang ngừng hợp động.`,
            changeDesignMsg: `Việc chuyển đổi giao diện sẽ có những khác biệt về mặt chức năng trên giao diện hiện tại, bạn có muốn thực hiện chuyển đổi giao diện không?`,
            hasNovel: `Có Truyện Chữ`,
            otherName: `Tên khác`,
            activeAuto: `Bạn có muốn [MỞ] chức năng đồng bộ không?
[LƯU Ý] Thông tin trên thiết bị sẽ được tự động đồng bộ cho tất cả thiết bị đang [MỞ] chức năng này.`,
            inactiveAuto: `Bạn có muốn [TẮT] chức năng đồng bộ không?
[LƯU Ý] Thông tin trên thiết bị sẽ được tự động đồng bộ cho tất cả thiết bị đang [MỞ] chức năng này.`,
            activeAutoMessage: `[Bật] Chức Năng Tự Động Đồng Bộ`,
            inactiveAutoMessage: `[Tắt] Chức Năng Tự Động Đồng Bộ`
        }

        if ('serviceWorker' in navigator) {
            if ('true' === 'true') {
                window.addEventListener('load', function () {
                    try {
                        navigator.serviceWorker.register('assets-sw.js')
                            .then(function (registration) { })
                            .catch(function (error) { });
                    } catch (e) { }
                });
            } else {
                navigator.serviceWorker.getRegistrations().then(function (registrations) {
                    registrations.forEach(function (registration) {
                        if (registration.active && registration.active.scriptURL.endsWith('assets-sw.js')) {
                            registration.unregister().then(function (success) {
                                console.log('Service worker unregistration successful:', success);
                            }).catch(function (error) {
                                console.error('Service worker unregistration failed:', error);
                            });
                        }
                    });
                });
            }
        }

    </script>

    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/common259b.css" />
    <script src="@Url.Content("~/Content")/WebTruyen/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content")/WebTruyen/v2/js/common259b.js"></script>

    <script src="@Url.Content("~/Content")/WebTruyen/js/push-init.js"></script>
    <script src="@Url.Content("~/Content")/WebTruyen/v2/js/push-message.js"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/homef413.css" />
    <script src="@Url.Content("~/Content")/WebTruyen/js/lazy.js"></script>
    <script src="@Url.Content("~/Content")/WebTruyen/v2/js/home920b.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/search259b.css?v=51" />
    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/detail259b.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content")/WebTruyen/v2/css/view259b.css?v=51" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    @{StoryWeb.Models.ModelView.User user = null;
        if (Session["user"] != null)
        {
            user = (StoryWeb.Models.ModelView.User)Session["user"];
        }}
    <input id="home-filter-config" data-limit="30" type="hidden" data-all="0" data-follow="0" data-history="0" value="all" />
    <input id="home-recommend-config" type="hidden" data-recommend="0" data-favorite="0" value="recommend" />
    <input id="home-new-config" type="hidden" data-new="0" value="new" />
    <header>
        <div class="px-2 tool-bar container">
            <a href="@Url.Action("index","Home")" class="logo"><img height="45" width="120" title="Goc Truyện Tranh" alt="Logo" src="@Url.Content("~/Content")/WebTruyen/images/logo.png" /></a>
            <a href="@Url.Action("index","Home")" class="btn-default btn-size-default btn-font-default active">
                <span>Trang Chủ</span>
            </a>
            <a href="@Url.Action("CategoryList","Category")" class="btn-default btn-size-default btn-font-default ">
                <span>Danh Sách</span>
            </a>
            <div class="spacer"></div>
            <button class="btn-menu-search cursor-pointer mr-3 btn-default-icon ">
                <span class="btn-default-icon-content">
                    <span class="v-icon">
                        <svg viewBox="0 0 24 24" class="v-icon-svg v-icon-svg-big">
                            <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                        </svg>
                    </span>
                </span>
            </button>
            @{
                if (Session["user"] == null)
                {
                    <button class="btn-menu-login btn-default-icon v-icon-bg mr-3">
                        <span class="btn-default-icon-content">
                            <span class="v-icon">
                                <svg viewBox="0 0 24 24" class="v-icon-svg v-icon-svg-big">
                                    <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                }
                else
                {
                    <div class="btn-menu-user btn-default-icon v-icon-bg mr-3">
                        <img title="Click to open menu" alt="Click to open menu">
                    </div>
                }


            }

        </div>
    </header>

    <!-- MODEL Search -->
    <div id="dialog-search" class="dialog-popup dialog-on-top dialog-backdrop">
        <div class="dialog-parent box-shadow-blur max-w300 zs-bg-4 v-sheet theme-dark">
            <div class="dialog-header">
                <div class="header-content">
                    <input class="input input-search-dialog-header" type="text" maxlength="30" placeholder="Nhập từ khóa" />
                    <div class="spacer"></div>
                    <button class="btn-close-dialog-search btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                        <span class="btn-default-icon-content">
                            <span class="v-icon">
                                <svg viewBox="0 0 24 24" class="v-icon-svg">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="dialog-body pa-0">
                <div class="body-content d-flex border-box pt-1 pb-2 pr-2 pl-2 justify-center-start">
                    <div class="lds-loading">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="dialog-no-data active pa-2 pb-0">Không Tìm Thấy Kết Quả... </div>
                    <div class="search-result"></div>
                </div>
            </div>
        </div>
    </div>




    <!-- MODEL User Information -->
    <div id="dialog-user" class="dialog-popup dialog-on-top dialog-backdrop">
        <div class="parent-user dialog-parent box-shadow-blur max-w300 zs-bg-4 v-sheet theme-dark">
            <div class="dialog-header">
                <div class="header-content">
                    <div class="title pa-2 text-h5">Tính Năng Tài Khoản</div>
                    <div class="spacer"></div>
                    <button class="btn-close-dialog-user btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                        <span class="btn-default-icon-content">
                            <span class="v-icon">
                                <svg viewBox="0 0 24 24" class="v-icon-svg">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="dialog-body pa-0">
                <div class="body-content d-flex border-box pt-3 pb-2 pr-2 pl-2 justify-center-start">
                    @{
                        if (user == null)
                        {
                            <a href="@Url.Action("Login","User")" class="item-user mb-2 menu-user-name" data-action="login">
                                <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                                </svg>
                                <span>Đăng nhập</span>
                            </a>
                        }
                        else
                        {
                            <div class="item-user mb-2 menu-user-rank">
                                <svg viewBox="0 0 24 24" class="v-icon-svg v-icon-svg-big">
                                    <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
                                </svg>
                                <span>@user.FullName </span>
                            </div>
                            <div class="item-user mb-2 menu-user-rank">
                                <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                                    <path d="M17 10.43V2H7v8.43c0 .35.18.68.49.86l4.18 2.51-.99 2.34-3.41.29 2.59 2.24L9.07 22 12 20.23 14.93 22l-.78-3.33 2.59-2.24-3.41-.29-.99-2.34 4.18-2.51c.3-.18.48-.5.48-.86zm-4 1.8-1 .6-1-.6V3h2v9.23z"></path>
                                </svg>
                                <span>Cấp Độ: </span>
                            </div>
                        }


                    }

                    <hr class="divider mt-2 mb-2 theme-dark menu-group-user-divider" style="border-width: thin 3px 3px !important;">
                    @if (user != null)
                    {
                        <div class="item-user menu-group-user">
                            <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="ManageAccountsIcon"><circle cx="10" cy="8" r="4"></circle><path d="M10.67 13.02c-.22-.01-.44-.02-.67-.02-2.42 0-4.68.67-6.61 1.82-.88.52-1.39 1.5-1.39 2.53V20h9.26c-.79-1.13-1.26-2.51-1.26-4 0-1.07.25-2.07.67-2.98zM20.75 16c0-.22-.03-.42-.06-.63l1.14-1.01-1-1.73-1.45.49c-.32-.27-.68-.48-1.08-.63L18 11h-2l-.3 1.49c-.4.15-.76.36-1.08.63l-1.45-.49-1 1.73 1.14 1.01c-.03.21-.06.41-.06.63s.03.42.06.63l-1.14 1.01 1 1.73 1.45-.49c.32.27.68.48 1.08.63L16 21h2l.3-1.49c.4-.15.76-.36 1.08-.63l1.45.49 1-1.73-1.14-1.01c.03-.21.06-.41.06-.63zM17 18c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"></path></svg>
                            <span>Tính Năng Tài Khoản </span>
                            <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M7 10l5 5 5-5z"></path>
                            </svg>
                        </div>
                        <div class="item-user mb-2 menu-user-action group-user" data-action="rename">
                            <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                                <path d="M18.41 5.8 17.2 4.59c-.78-.78-2.05-.78-2.83 0l-2.68 2.68L3 15.96V20h4.04l8.74-8.74 2.63-2.63c.79-.78.79-2.05 0-2.83zM6.21 18H5v-1.21l8.66-8.66 1.21 1.21L6.21 18zM11 20l4-4h6v4H11z"></path>
                            </svg>
                            <span>Đổi Tên Hiển Thị</span>
                        </div>
                        <div class="item-user mb-2 menu-user-action group-user" data-action="request">
                            <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                                <path d="m13.7826 15.1719 2.1213-2.1213 5.9963 5.9962-2.1213 2.1213zM17.5 10c1.93 0 3.5-1.57 3.5-3.5 0-.58-.16-1.12-.41-1.6l-2.7 2.7-1.49-1.49 2.7-2.7c-.48-.25-1.02-.41-1.6-.41C15.57 3 14 4.57 14 6.5c0 .41.08.8.21 1.16l-1.85 1.85-1.78-1.78.71-.71-1.41-1.41L12 3.49c-1.17-1.17-3.07-1.17-4.24 0L4.22 7.03l1.41 1.41H2.81l-.71.71 3.54 3.54.71-.71V9.15l1.41 1.41.71-.71 1.78 1.78-7.41 7.41 2.12 2.12L16.34 9.79c.36.13.75.21 1.16.21z"></path>
                            </svg>
                            <span>Yêu Cầu Thăng Cấp</span>
                        </div>
                        <hr class="divider mt-2 mb-2 theme-dark" style="border-width: thin 3px 3px !important;">
                    }

                    <a href="@Url.Action("Index","Home")" class="item-user mb-2 menu-user-home">
                        <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                        </svg>
                        <span>Trang Chủ</span>
                    </a>
                    @if (user != null)
                    {
                        <a href="truyen/theo-doi.html" class="item-user mb-2  menu-user-follow">
                            <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                                <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"></path>
                            </svg>
                            <span>Truyện Theo Dõi</span>
                        </a>
                    }
                    <a href="@Url.Action("CategoryList","Category")" class="item-user mb-2  menu-user-search-page">
                        <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                            <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"></path>
                        </svg>
                        <span>Danh Sách</span>
                    </a>
                    @{
                        if (user != null)
                        {
                            if (user.Role == 0)
                            {
                                <div class="item-user menu-user-action btn-change-design" data-action="change-design">
                                    <svg class="v-icon v-icon-svg-big" enable-background="new 0 0 32 32" viewBox="0 0 32 32"><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="2 8 10 3 18 8"></polyline><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="4 7 4 15 16 15 16 7"></polyline><rect width="4" height="6" x="8" y="9" fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="colorStroke000 svgStroke"></rect><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="14 22 22 17 30 22"></polyline><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="16 21 16 29 28 29 28 21"></polyline><rect width="4" height="6" x="20" y="23" fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="colorStroke000 svgStroke"></rect><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="7.68 20.406 4.46 18.946 3 22.166"></polyline><polyline fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="25.043 13.805 27.964 15.798 29.957 12.878"></polyline><path fill="none" stroke="#a59c9c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M12 27c-3.787-.913-6.747-4.05-7.521-8.007M18.999 4c5.08 1.351 8.859 6.053 8.997 11.69" class="colorStroke000 svgStroke"></path></svg>
                                    <span>Chuyển Đổi Giao Diện</span>
                                </div>
                            }
                        }


                    }


                    @if (user != null)
                    {
                        <hr class="divider mt-2 mb-2 theme-dark" style="border-width: thin 3px 3px !important;">
                        <div class="item-user menu-user-action" >
                            <form action="@Url.Action("Logout","User")" method="post">
                                <svg class="v-icon v-icon-svg-big" focusable="false" viewBox="0 0 24 24">
                                    <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
                                </svg>
                                    <button class="theme-dark btn-default" type="submit">
                                        Đăng Xuất
                                    </button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- MODEL Reminder -->
    <div id="dialog-reminder" class="dialog-popup  dialog-on-top dialog-backdrop">
        <div class="parent-user dialog-parent box-shadow-blur zs-bg-4 v-sheet theme-dark">
            <div class="dialog-header">
                <div class="header-content">
                    <div class="title pa-1 text-h5">Thông Báo</div>
                    <div class="spacer"></div>
                    <button class="btn-close-dialog-reminder btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                        <span class="btn-default-icon-content">
                            <span class="v-icon">
                                <svg viewBox="0 0 24 24" class="v-icon-svg">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="dialog-body pa-0">
                <div class="reminder-list pa-2">
                    <div class="lds-loading">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- MODEL Reminder -->
    <div id="dialog-rename" class="dialog-popup  dialog-on-top dialog-backdrop">
        <div class="parent-user dialog-parent box-shadow-blur max-w300 zs-bg-4 v-sheet theme-dark">
            <div class="dialog-header">
                <div class="header-content">
                    <div class="title pa-2 text-h5">Đổi Tên Hiển Thị</div>
                    <div class="spacer"></div>
                    <button class="btn-close-dialog-rename btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                        <span class="btn-default-icon-content">
                            <span class="v-icon">
                                <svg viewBox="0 0 24 24" class="v-icon-svg">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="dialog-body pa-0">
                <div class="content-warning"><p>- Chức năng này chỉ dùng cho tài khoản cấp 2+</p><p>- Một ngày chỉ được đổi một lần</p><p>- Tên và Danh hiệu không được chứa những ký tự nhạy cảm (tên web, 18+, chữi thề...), nếu phát hiện sẽ bị khóa chức năng này</p><p>- Danh hiệu mặc định sẽ có thêm từ [<b style="color: red;">Gà</b>]</p><p>- Số ký tự giới hạn là 30/15</p></div>
                <div class="rename-content">
                    <div class="input-rename pa-2">
                        <span class="btn-default">Tên Hiển Thị</span>
                        <input class="change-name mx-1 rounded-sm zs-bg-3 btn-default btn-default-is-elevated theme-dark btn-size-default" maxlength="30" type="text" placeholder='Tên Hiển Thị' />
                    </div>
                    <div class="input-rename pa-2">
                        <span class="btn-default">Tên Danh Hiệu</span>
                        <input class="change-title mx-1 rounded-sm zs-bg-3 btn-default btn-default-is-elevated theme-dark btn-size-default" maxlength="15" type="text" placeholder='Tên Danh Hiệu' />
                    </div>
                </div>
                <div class="button-section pa-2">
                    <button class="btn-rename mx-1 rounded-sm zs-bg-3 mr-4 btn-default btn-default-is-elevated theme-dark btn-size-default"> Thay Đổi</button>
                    <button class="btn-cancel mx-1 rounded-sm zs-bg-3 mr-4 btn-default btn-default-is-elevated theme-dark btn-size-default">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        #dialog-rename .content-warning {
            padding: 8px;
            font-family: sans-serif !important;
        }

        #dialog-rename .rename-content input {
            width: 235px !important;
            font-size: 16px !important;
            text-transform: none !important;
        }

        #dialog-rename .rename-content span {
            width: 100px;
            display: block;
            margin-left: 5px;
            text-transform: none !important;
            pointer-events: none;
        }

        #dialog-rename .button-section {
            text-align: right;
            padding-right: 17px;
        }

        #dialog-rename .input-rename input:focus {
            outline: dashed 1px #7d7b7b !important;
        }
    </style>




    <!-- MODEL Reminder -->
    <div id="dialog-noti-reminder" class="dialog-popup  dialog-backdrop">
        <div class="parent-user dialog-parent max-w300 box-shadow-blur zs-bg-4 v-sheet theme-dark">
            <div class="dialog-header">
                <div class="header-content">
                    <div class="title pa-1 text-h5">Thông Báo</div>
                    <div class="spacer"></div>
                    <button class="btn-close-dialog-noti-reminder btn-close-dialog btn-default-icon theme-dark btn-size-default ma-1">
                        <span class="btn-default-icon-content">
                            <span class="v-icon">
                                <svg viewBox="0 0 24 24" class="v-icon-svg">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="dialog-body pa-0">
                <div class="reminder-noti-msg pa-2 pt-3"><p>Hiện tại bạn đang có <span class="num-msg"></span> tin nhắn chưa đọc. Bạn có muốn xem nó không ?</p></div>
                <div class="button-section text-align-right pa-2">
                    <button class="btn-okay mx-1 rounded-sm zs-bg-3 mr-4 btn-default btn-default-is-elevated theme-dark btn-size-default">Có</button>
                    <button class="btn-cancel mx-1 rounded-sm zs-bg-3 mr-4 btn-default btn-default-is-elevated theme-dark btn-size-default">Không</button>
                    <button class="btn-block mx-1 rounded-sm zs-bg-3 mr-4 btn-default btn-default-is-elevated theme-dark btn-size-default">Chặn</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        #dialog-noti-reminder .dialog-body .reminder-noti-msg {
            font-family: sans-serif !important;
            font-size: 16px;
        }

            #dialog-noti-reminder .dialog-body .reminder-noti-msg .num-msg {
                color: var(--primary);
                font-weight: 700;
            }
    </style>


    <div class="notification-container">
        <div></div>
    </div>
    <div class="notification-container-server">
        <div class="push"></div>
    </div>

    <div class="all-scroll-top">
        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
        </svg>
    </div>
    <main class="main">
        <script src="contents/js/slide.show.min.js"></script>
        <script>
            $(document).ready(function () {
                jQuery('#slideshow').fadeSlideShow({
                    width: "100%",
                    height: "320px",
                    allowKeyboardCtrl: false,
                    interval: 5000
                });
            });
        </script>
        <div class="main-wrap">
            @RenderBody()
        </div>
    </main>
    <footer class="footer-section pt-3">
        <div class="content">
            <div class="block">
                <div>Copyright © 2021 - Goc Truyen Tranh</div>
                <div><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/goctruyentranh24h">Facebook</a>||<a target="_blank" rel="noopener noreferrer" href="chinh-sach.html">Privacy Policy</a></div>
            </div>

            <div class="banner-social">
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="../connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=274521690288275&autoLogAppEvents=1" nonce="gUpz8VzT"></script>
                <div class="fb-page" data-href="https://www.facebook.com/goctruyentranh24h"
                     data-width=""
                     data-small-header="true"
                     data-adapt-container-width="true"
                     hide_cover="true"
                     hide_cta="true"
                     data-lazy="true"
                     data-hide-cover="false"
                     data-show-facepile="false">
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
